*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin: 1%;
    padding: 3%;
    font-size: 25px;
}

.score a {
    float: left;
    text-decoration: none !important;    
    cursor: pointer;  
    color: #245a97;
}

.time {
    float: right;
    color: #245a97;

}
