*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin: 1%;
    padding: 3%;
    font-size: 25px;
}

.score a {
    float: left;
    text-decoration: none !important;    
    cursor: pointer;  
    color: #245a97;
}

.time {
    float: right;
    color: #245a97;
}

.container-fluid {
    text-align: center;
    margin: 1%;
    padding: 3%;
}

.start-btn,
.submit-btn {
    text-align: center;
    font-size: 20px;
    min-width: 8%;
    height: 40px;
    text-align: center;
    border-radius: 5%;
    background-color: #245a97;
    color: #fff;
}

#name::placeholder {
    min-width: 10%;
    height: 30px;
    text-align: center;
}
